body {
   background: url(../images/prinny_spin.gif) repeat;
   overflow: auto;  
   width: inherit;  
      
}

span.image {
   content:url(../images/maneki_neko.gif);
   width:50px;
   height:50px;
}​

.title{
    text-transform: capitalize;
    font-size: 200%;
    color:azure;
    display:block;
    opacity: 0.9;
    
}

.title span{
    font-size: 150%;
    color:aquamarine;
}

center.weekline{
     background-color: black;
      width:1063px;
      opacity:0.9;
}
span.week, .weeknr{
    text-transform: capitalize;
    font-size: 200%;
    color:orangered;
    opacity: 0.9;
    height:100px;
}

.week span{
    font-size: 150%;
    color:royalblue;
}

#banner {
    background-color: firebrick;
    padding-top: 25px;
    height: 75px;
    width: inherit; 
     opacity: 0.9;
}

#dayBanner{
    background-color: firebrick;
    height: 30px;
    opacity: 0.9;
    color:aliceblue;
    font-size: larger;
}

ul {
    list-style-type: none;
    padding: 0;
}

#calendar{
    background-color: firebrick;
    height: 100px;
    width: inherit;
     opacity: 0.9;
}

#calendarli{
    border-color: black;
    background-color:wheat;
    padding-top:     41px;
    padding-left:    10px;
    padding-right:   10px;
    padding-bottom:  42px;

}


#calendarli:hover{
    background-color:grey;
}

#inputbox{
    background-color:blanchedalmond;
    float:right ;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#textboxtext{
    word-spacing: 45px;
}

#addButton{
    background-color:brown;
    color: white;
    font-size: 20px;
    width: 300px;
    height: 30px;
}

table{
    background-color:whitesmoke;
    border-collapse:collapse;
}

tr{
    padding: 0;
}

tr:hover {
    background-color:navajowhite;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday{
    float:left;
    margin: 5px;
    width: 200px;
    border-style: solid;
    border-width: thin;
}

div.copy{
    float:right; 
    background-color: whitesmoke;
    padding: 10px;
    font-weight: bold;
    opacity:0.9;
}
