body {
    background-color: whitesmoke;
    overflow: auto;  
    width: inherit;    
}

#banner {
    background-color: firebrick;
    height: 50px;
    width: inherit;
}

#dayBanner{
    background-color: firebrick;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#calendar{
    background-color: firebrick;
    position: relative;
    height: 100px;
    width: inherit;
}

#calendarli{
    border-color: black;
    background-color:wheat;
    padding-top:     41px;
    padding-left:    20px;
    padding-right:   20px;
    padding-bottom:  42px;
    display: inline;
    height: 100px;
    line-height: 100px;
}


#calendarli:hover{
    background-color:grey;
}

tr:hover {
    background-color:navajowhite;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday{
    float:left;
    margin: 20px;
    width: 175px;
    border-style: solid;
    border-width: thin;
}

