body {
    background-color: whitesmoke;
    overflow: auto;  
    width: inherit;    
}

#banner {
    background-color: firebrick;
    height: 50px;
    width: inherit;
}

#dayBanner{
    background-color: firebrick;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#calendar{
    background-color: forestgreen;
    position: relative;
    height: 100px;
    width: 1000px;
}

#datalist{
    float:left;
    margin: 20px;
    width: 175px;
    border-style: solid;
    border-width: thin;
}

